<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvhaifeng.cloud.admin.mapper.BaseUserMapper">

    <resultMap type="com.lvhaifeng.cloud.admin.entity.BaseUser" id="baseUserMap">
        <result property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="introduce" column="introduce"/>
        <result property="phone" column="phone"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

    <select id="selectUserPage" resultMap="baseUserMap">
        select * from base_user
        where 1=1
        <if test="null!=keyword and ''!=keyword">
            and login_name like concat('%', #{keyword}, '%')
            or real_name like concat('%', #{keyword}, '%')
        </if>
    </select>

    <select id="selectUserListByIds" resultMap="baseUserMap">
        select * from base_user
        where 1=1
        <if test="null!=userIds and userIds.size >0">
            and id in
            <foreach collection="userIds" open="(" separator="," close=")" item="userId">
                #{userId}
            </foreach>
        </if>
    </select>

    <insert id="insertUser" parameterType="com.lvhaifeng.cloud.admin.entity.BaseUser">
        insert into base_user(id,crt_time,head_img,login_name,password,real_name,upd_time,email,introduce,phone,last_login_time,sex,mobile,address,super_admin)
        values (#{param.id},#{param.crtTime},#{param.headImg},#{param.loginName},#{param.password},#{param.realName},#{param.updTime},#{param.email},#{param.introduce},#{param.phone},#{param.lastLoginTime},#{param.sex},#{param.mobile},#{param.address},#{param.superAdmin})
    </insert>

</mapper>
