<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvhaifeng.cloud.admin.mapper.BaseRoleMapper">

    <resultMap type="com.lvhaifeng.cloud.admin.entity.BaseRole" id="baseRoleMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

    <select id="selectRoleListByIds" resultType="com.lvhaifeng.cloud.admin.entity.BaseRole">
        select * from base_role
        where id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <select id="selectRoleList" resultMap="baseRoleMap">
        select * from base_role
        where 1=1
        <if test="null!=keyword and ''!=keyword">
            and name like concat('%',#{keyword},'%')
        </if>
    </select>

    <insert id="insertRole" parameterType="com.lvhaifeng.cloud.admin.entity.BaseRole">
        insert into base_role(crt_time,name,remark,code) values(#{role.crtTime},#{role.name},#{role.remark},#{role.code})
    </insert>
</mapper>
