<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvhaifeng.cloud.admin.mapper.MenuMapper">

    <resultMap id="getMenuInfosByRoleId" type="com.lvhaifeng.cloud.admin.vo.response.MenuInfo">
        <id column="id" property="id"></id>
        <id column="parent_id" property="parentId"></id>
        <id column="role_id" property="roleId"></id>
        <association property="parent" select="selectParentMenu" column="{parentId=parentId}"></association>
        <collection property="children" select="selectMenuByRoleId" column="{id=id},{roleId=roleId}">
        </collection>
        <collection property="buttonList" select="selectButtonInfosByRoleId" column="{menuId=id},{roleId=roleId}">
        </collection>
    </resultMap>

    <resultMap id="getMenuInfos" type="com.lvhaifeng.cloud.admin.vo.response.MenuInfo">
        <id column="id" property="id"></id>
        <id column="parent_id" property="parentId"></id>
        <association property="parent" select="selectParentMenu" column="{parentId=parentId}"></association>
        <collection property="children" select="selectMenuChildren" column="{id=id}">
        </collection>
        <collection property="buttonList" select="selectButtonInfos" column="{menuId=id}">
        </collection>
    </resultMap>

    <!-- 查询所有按钮信息 通过角色 id -->
    <select id="selectButtonInfosByRoleId" resultType="com.lvhaifeng.cloud.admin.vo.response.ButtonInfo">
        select
            *
        from
            button b
        left join role_resource r_r on r_r.resource_id = b.id
        where b.menu_id = #{menuId}
        <if test="roleId!= null">
            and r_r.role_id = #{roleId}
        </if>
    </select>

    <!-- 查询所有按钮信息 -->
    <select id="selectButtonInfos" resultType="com.lvhaifeng.cloud.admin.vo.response.ButtonInfo">
        select
            *
        from
            button
        where menu_id = #{menuId}
    </select>

    <!-- 查询父菜单 -->
    <select id="selectParentMenu" resultType="com.lvhaifeng.cloud.admin.vo.response.MenuInfo">
        select
            m.id,
            m.name,
            m.description,
            m.parent_id as parentId,
            m.url
        from
            menu m
        where 1=1
        <if test="parentId!= null">
            and m.id = #{parentId}
        </if>
    </select>

    <!-- 根据角色 id查询菜单 -->
    <select id="selectMenuChildren" resultMap="getMenuInfos">
        select
            id,
            name,
            description,
            parent_id as parentId,
            url
        from
            menu
        where 1=1
        <if test="id!= null">
            and parent_id = #{id}
        </if>
    </select>

    <!-- 根据角色 id查询菜单 -->
    <select id="selectMenuByRoleId" resultMap="getMenuInfosByRoleId">
        select
            m.id,
            m.name,
            m.description,
            m.parent_id as parentId,
            m.url,
            r_r.role_id as roleId
        from
            menu m
        left join role_resource r_r on r_r.resource_id = m.id
        where 1=1
        <if test="id!= null">
            and m.parent_id = #{id}
        </if>
        <if test="roleId!= null">
            and r_r.role_id = #{roleId}
        </if>
    </select>

    <!-- 查询菜单列表 -->
    <select id="selectMenuPageList"
            parameterType="com.lvhaifeng.cloud.admin.entity.Menu"
            resultMap="getMenuInfos">
        select
            id,
            name,
            url,
            description,
            parent_id as parentId
        from
            menu
        where 1=1
        <if test="menu.name!= null and menu.name!= ''">
            and name like concat('%',#{menu.name},'%')
        </if>
        <if test="menu.url!= null and menu.url!= ''">
            and url like concat('%',#{menu.url},'%')
        </if>
        <if test="menu.description!= null and menu.description!= ''">
            and description like concat('%',#{menu.description},'%')
        </if>
        <if test="menu.parentId!= null and menu.parentId!= ''">
            and parent_id = #{menu.parentId}
        </if>
    </select>

    <!-- 查询所有菜单 -->
    <select id="selectAllMenus" resultMap="getMenuInfos">
        select
            id,
            name,
            url,
            description,
            parent_id as parentId
        from
            menu
        where parent_id = '0'
    </select>

    <select id="selectAllMenusByRoleId" resultType="com.lvhaifeng.cloud.admin.entity.Menu">
        select
            m.id,
            m.name
        from
            menu m
        left join role_resource r_r on r_r.resource_id = m.id
        where 1=1
        <if test="id!= null and id!= ''">
            and r_r.role_id = #{id}
        </if>
    </select>

</mapper>